<%= form_for(performance) do |f| %>
  <% if performance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(performance.errors.count, "error") %> prohibited this performance from being saved:</h2>

      <ul>
      <% performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :business_cd %>
    <%= f.text_field :business_cd %>
  </div>

  <div class="field">
    <%= f.label :plan %>
    <%= f.number_field :plan %>
  </div>

  <div class="field">
    <%= f.label :performance %>
    <%= f.number_field :performance %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
